<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
<title>美容師更新画面</title>
</head>
<body>
	<!-- サイドバーの表示 -->
	<div layout:fragment="sidebar"
		th:replace="~{fragments/sidebar :: sidebar}"></div>

	<!-- コンテンツの表示 -->
	<main layout:fragment="content" class="bg-light vh-100">
	<!-- トグルボタン -->
	<div th:replace="~{fragments/sidebar :: toggler}"></div>
	<div class="container pt-4">
		<!-- 左右中央に配置 -->
		<div class="row justify-content-center">
			<div class="card shadow" style="max-width: 480px;">
				<div class="card-body">
					<h3 class="card-title mb-3 text-center text-navy">美容師更新</h3>
					<div th:if="${validationError}"
						th:each="error : ${validationError}">
						<label class="text-danger" th:text="${error}"></label>
					</div>
					<form th:action="@{/hairdresser/update}" th:object="${formInfo}" method="post"
						novalidate>

						<div class="mb-3">
							<label for="hairdresserName" class="form-label"> <span
								class="badge bg-danger">必須</span> 美容師名
							</label> <input class="form-control" type="text"
								th:errorclass="is-invalid" th:field="*{hairdresserName}">
							<div class="invalid-feedback" th:errors="*{hairdresserName}"></div>
						</div>

						<input type="hidden" th:field="*{hairdresserId}">

						<button class="w-100 btn btn-navy" type="submit">更新</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</main>

</body>
</html>